<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/weather.png">
  <link rel="stylesheet" href="style.css">
  <title>Weather App</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Use this site to get weather</p>
    <form action="" method="post">
      <input type="text" name="" placeholder="search address" id="">
      <button type="submit">Submit</button>
    </form>
    <p id="errMsg"></p>
    <div class="hidden">
      <p>Curent Temperature is: <span id="currentTemp"></span></p>
      <p>High Temp for Today: <span id="highTemp"></span></p>
      <p>Low Temp for Today: <span id="lowTemp"></span></p>
      <p>Chance of Precipitation: <span id="precip"></span>%</p>
    </div>
  </div>

  {{>footer}}
  <script src="app.js"></script>
</body>

</html>