<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/weather.png">
  <link rel="stylesheet" href="style.css">
  <title>Weather App</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Use this site to get weather</p>
    <form action="" method="post">
      <input type="text" name="" placeholder="search address" id="">
      <button type="submit">Submit</button>
    </form>
    <p id="errMsg"></p>
    <p id="forecast"></p>
  </div>

  {{>footer}}
  <script src="app.js"></script>
</body>

</html>